@model IEnumerable<Lab5.Models.Organizer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<link href="~/css/foundation.css" rel="stylesheet" />
<img src="~/images/event management logo.jpg" alt="Logo">

<!-- Nav Bar-->
<div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Event Management</li>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Events/Index">Events</a></li>
        <li><a href="~/Organizers/Index">Organizers</a></li>
        <li><a href="~/Account/Register">Register</a></li>
        <li><a href="~/Account/Login">Login</a></li>
    </ul>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
